body{

	color de fondo: #ebcda9

}

.centro{

	bloqueo de pantalla;

	margen izquierdo: automático;

	margen derecho: automático;

	ancho: 50%;

	ancho: 500px;

}

título{

	familia de fuentes: "Gunmetal", sans-serif;

	tamaño de fuente: 40px;

	alinear-contenido: centro;

	 

}
